.create_answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.create_answer h4 ,
.create_answer .link{
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: rgb(90, 87, 87);
}
.create_answer form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
