.header_container {
    display: flex;
    justify-content: space-between; /* Adjusted to space between logo and nav items */
    align-items: center; /* Center align items vertically */
    padding: 10px 20px; /* Reduced padding for smaller screens */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Adjusted box shadow */
}

.logo img {
    max-height: 40px; /* Example height for the logo */
}

.navs {
    display: flex;
    flex: 1; /* Allow nav links to take up remaining space */
    justify-content: flex-end; /* Align nav links to the right on larger screens */
}

.navs .link {
    text-decoration: none;
    margin: 0 15px; /* Adjusted margin for smaller screens */
    color: rgb(44, 42, 42);
    font-weight: 400;
    font-size: 16px; /* Adjusted font size for smaller screens */
}

.navs .btn {
    border: none;
    background-color: rgb(100, 100, 218) !important;
    border-radius: 5px;
    padding: 8px 15px; /* Adjusted padding for smaller screens */
}

.btn span {
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .header_container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        padding: 10px; /* Adjusted padding for smaller screens */
    }

    .logo {
        margin-bottom: 10px;
        display: none; /* Add spacing below logo on smaller screens */
    }

    .navs {
        flex-direction: column; /* Stack nav links vertically on smaller screens */
        justify-content: center; /* Center align nav links vertically */
    }

    .navs .link {
        margin: 10px 0; /* Adjusted margin for smaller screens */
    }
}
